<form id="edit-task" name="task" class="form-horizontal">
  <fieldset>
    <legend>
      <%= title %>

      <div class="btn-group" style="float:right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          Действия <span class="caret"></span>
        </a>
        <a href="#" class="btn bck">Отмена</a>
        <ul class="dropdown-menu">
          <li><a href="#" class="lnk" id="save">Сохранить</a></li>
          <li><a href="/teams/<%= team_id %>/tasks/<%= id %>" class="lnk">Просмотр</a></li>
          <li><a href="/teams/<%= team_id %>/tasks/<%= id %>/destroy" class="destroy">Удалить</a></li>
        </ul>
      </div>
    </legend>

    
    <div class="control-group">
      <label class="control-label" for="title">Заголовок</label>
      <div class="controls">
        <input type="text" id="title" name="title" placeholder="Заголовок задачи" value="<%= title %>">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="description">Описание</label>
      <div class="controls">
        <textarea type="text" id="description" name="description" placeholder="Описание задачи"><%= description %></textarea>
      </div>
    </div>    

    <div class="control-group">
      <div class="controls">
        <a href="#" class="btn bck">Отмена</a>
        <button type="submit" class="btn btn-primary">Сохранить</button>
      </div>
    </div>

  </fieldset>
</form>