<td><%= title %></td>
<td><%= description %></td>

<td>
	<a href="/teams/<%= team_id %>/tasks/<%= id %>" class="lnk">Show</a>
	<a href="/teams/<%= team_id %>/tasks/<%= id %>/edit" class="lnk">Edit</a>
	<a href="/teams/<%= team_id %>/tasks/<%= id %>/destroy" class="destroy">Destroy</a>
</td>